@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monda&display=swap');

.todo-form {
  display: none;
  font-family: 'Monda', sans-serif;
  position: absolute;
  height: 400px;
  width: 300px;
  padding: 10px;
  border-radius: 1rem;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3));
}

.todo-form input {
  margin-bottom: 20px;
  outline: none;
  border: none;
  background: linear-gradient(to right bottom,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0.9));
}



#title {
  margin-left: 10px;
  border-radius: 5px;
  width: 280px;
  font-family: 'Monda', sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

#description {
  font-family: 'Monda', sans-serif;
  margin-left: 10px;
  border-radius: 5px;
  font-size: 30px;
  height: 200px;
  width: 280px;
  outline: none;
  border: none;
  background: linear-gradient(to right bottom,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0.9));
  margin-bottom: 10px;
}

#duedate {
  margin-left: 10px;
  height: 30px;
  font-size: larger;
  text-align: center;
  border-radius: 10px;
}

.todo-form select {
  font-family: 'Fugaz One', sans-serif;
  font-size: large;
  outline: none;
  font-weight: bold;
  margin-left: 10px;
  height: 40px;
  width: 100px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}


.todo-form button {
  font-family: 'Fugaz One', sans-serif;
  margin: 0px 10px 10px 10px;
  height: 40px;
  width: 280px;
  background: linear-gradient(to right bottom,
      rgba(251, 202, 202, 0.7),
      rgba(246, 187, 187, 0.3));
  outline: none;
  border: none;
  font-size: x-large;
  cursor: pointer;
  font-weight: bold;
  border-radius: 10px;
}

.todo-form button:hover {
  transform: scale(1.1);
}

.todo-form.active {
  display: block;
}